.league {
  font-family: 'League Spartan', sans-serif;
}
  
.edo {
  font-family: 'Edo', sans-serif;
}
  
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
