.header, .footer {
  text-align: center;
  display: block;
  margin: 10px;
  padding: 10px;
}

.league {
  font-family: 'League Spartan', sans-serif;
}
  
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
