.item-first {
  grid-area: item-first;
}

.item-second {
  grid-area: item-second;
}

.item-third {
  grid-area: item-third;
}

.text-first {
  grid-area: text-first;
}

.text-second {
  grid-area: text-second;
}

.text-third {
  grid-area: text-third;
}

.main {
  display: grid;
  grid-template-columns: 66px 66px 66px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "text-first item-first item-first"
    "item-second item-second text-second"
    "text-third item-third item-third"
    "footer footer footer";
}
