.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d6d6d6;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: auto;
}

header, footer {
  margin: 5px;
}

.main {
  margin: 5px 25px 5px 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.grid {
  position: relative;
  opacity: 0;
  transition: opacity 0.1s linear 0.1s;
  margin-left: 160px;
  padding: 0px 10px;
}
.images-loaded .grid {
  opacity: 1;
}
.item {
  position: absolute;
  margin: 5px;
  z-index: 1;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  cursor: pointer;
}
.item-content > img {
  display: block;
  border-radius: 0px;
  border: solid #0D0D0D 10px;
  box-shadow: 10px 10px #A6A6A6;
  max-width: 350px;
  margin: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  transition: opacity 0.1s linear 0.1s;
}
.images-loaded .loading {
  opacity: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px 0px;
  }
  
  .main {
    margin: 0px;
  }
  
  .grid {
    margin-left: 0px;
  }
  
  .item-content > img {
    margin: 20px 25px 20px 5px;
  }
}
