.item-first {
  grid-area: item-first;
}

img {
  object-fit: cover;
  display: block;
}

.item-second {
  grid-area: item-second;
}

.item-third {
  grid-area: item-third;
}

.text-first {
  grid-area: text-first;
}

.text-second {
  grid-area: text-second;
}

.text-third {
  grid-area: text-third;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.main {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 50px 150px 150px 150px 50px;
  grid-template-areas:
    "header header header"
    "text-first item-first item-first"
    "item-second item-second text-second"
    "text-third item-third item-third"
    "footer footer footer";
}
